<link rel="stylesheet" href="/css/styles-index.css">

<div class="index-header">

</div>
<div class="index-body">
    <form>
        <button>Rate Movies</button>
    </form>
    <form>
        <button>Find Movies</button>
    </form>
</div>