<link rel="stylesheet" href="/css/index.css">

<div class="index-header">

</div>
<div class="index-body">
    <button><a href="/rate">Rate Movies</a></button>
    <button><a href="/find">Find Movies</a></button>
</div>