<link rel="stylesheet" href="/css/rate.css">
<link rel="stylesheet" href="/css/all.css">

<div class="rate--movie-poster"><img class="rate--movie-poster" src="<%= currentMoviePoster %>"></div>
<div class="rate--movie-title"> <%= movieTitle %> </div>
<form action="/rate" method="POST" class="rate--rating-space">
    <button type="submit" name="thumbs_up" class="rate--rate-up"><i class="far fa-thumbs-up"></i></button>
    <button type="submit" name="not_seen" class="rate--rate-not-seen"><i class="fas fa-arrow-down"></i></button>
    <button type="submit" name="thumbs_down" class="rate--rate-down"><i class="far fa-thumbs-down"></i></button>
    <button type="submit" name="love" class="rate--rate-love"><i class="far fa-heart"></i></button>
</form>

</div>