<link rel="stylesheet" href="/css/rate.css">
<link rel="stylesheet" href="/css/all.css">

<div class="rate--movie-poster"><img class="rate--movie-poster" src="<%= currentMoviePoster %>"></div>
<div class="rate--movie-title"> <%= movieTitle %> </div>
<div class="rate--movie-release-year"> <%= movieReleaseYear %> </div>
<form action="/rate" method="POST" class="rate--rating-space">
    <button type="submit" name="thumbs_up" class="rate--rate-up" title="I've seen this and I liked it!"><i class="far fa-thumbs-up"></i></button>
    <button type="submit" name="not_seen_want_to" class="rate--rate-not-seen" title="I haven't seen this but I want to!"><i class="far fa-grin"></i></i></button>
    <button type="submit" name="ambivalent" class="rate--rate-not-seen" title="I haven't seen this and I don't know if I want to or not."><i class="far fa-question-circle"></i></i></button>
    <button type="submit" name="not_seen_dont_want_to" class="rate--rate-not-seen" title="I haven't seen this and I don't want to!"><i class="far fa-meh-rolling-eyes"></i></i></button>
    <button type="submit" name="thumbs_down" class="rate--rate-down" title="I've seen this and didn't like it!"><i class="far fa-thumbs-down"></i></button>
    <button type="submit" name="love" class="rate--rate-love" title="I've seen this and I absolutely adored it!"><i class="far fa-heart"></i></button>
</form>

</div>