.rate--movie-poster {
    position: relative;
    text-align: center;
}

.rate--movie-title {
    text-align: center;
    margin-top: 20px;
    font-size: 30pt;
}

.rate--rating-space {
    text-align: center;
    margin-top: 20px;   
}

.rate--movie-poster {
    width: 400px;
    height: 650px;
    margin: 0 auto;
}

button {
    padding: 10px;
    margin: 5px;
}